HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
src/main/resources/application.properties
application.properties
secret.properties
### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Docker ###
compose.yaml
docker-compose.yml

### Database ###
*.db
database/

### ENV ###
*.env

### Environment ###
**/.env

### Fichiers Mac ###
*.DS_Store

### Autres ###
requetesSQL